<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Datos de Tesoreria</h2>
  </div>
</header>
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow cursor-pointer">
      <div class="col-xl-6 col-sm-6" (click)="abrirBancos()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-violet"><i class="fa fa-home"></i></div>
          <div class="title"><span>Cuenta Bancos</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6" (click)="abrirCostos()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-green"><i class="fa fa-user-plus"></i></div>
          <div class="title"><span>Costos</span>
            <div class="progress">
              <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tables">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-close mb-2">
            <a id="closeCard1" (click)="abrirPlan()" class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Nuevo</a>
          </div>
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Plan de cuentas</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Codigo</th>
                  <th>Importe</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cursor-pointer" (click)="abrirPlan()">
                  <th scope="row">1</th>
                  <td>Programa CSP</td>
                  <td>LIB-562-13-3-17</td>
                  <td>18565.00</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
