<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Datos para construccion</h2>
  </div>
</header>
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow cursor-pointer">
      <div class="col-xl-4 col-sm-6" (click)="abrirMateriales()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-violet"><i class="fa fa-home"></i></div>
          <div class="title"><span>Materiales</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6" (click)="abrirLabores()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-green"><i class="fa fa-user-plus"></i></div>
          <div class="title"><span>Labores</span>
            <div class="progress">
              <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6">
        <div class="item d-flex align-items-center" (click)="abrirResponsables()">
          <div class="icon bg-orange"><i class="fa fa-address-card"></i></div>
          <div class="title"><span>Responsables</span>
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tables">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <app-modal-ingenieros [proveedores]="true"></app-modal-ingenieros>
      </div>
    </div>
  </div>
</section>
