<div class="card-header d-flex align-items-center">
<h3 class="h4">Mantenimiento de Proveedores de Materiales</h3>
</div>
<div class="card-body pb-0">
  <form class="form-horizontal">
    <section class="tables pt-0 pb-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-close mb-2">
                <a id="closeCard2" class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Nuevo</a>
              </div>
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Proveedores</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Ruc</th>
                      <th>Nombres</th>
                      <th>Celular</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="cursor-pointer">
                      <th scope="row">1</th>
                      <td>02790006</td>
                      <td>MORALES FLORES ROMAN</td>
                      <td>995-159707</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>