<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4" *ngIf="!vistaFormulario">Listado de sucursales</h3>
      <h3 class="h4" *ngIf="vistaFormulario && !verNuevo">Nuevo sucursal</h3>
      <h3 class="h4" *ngIf="vistaFormulario && verNuevo">Editando sucursal</h3>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
    <div class="card-body pb-0">
      <div *ngIf="!cargando && !vistaFormulario" class="form-horizontal" style="padding: 2px">
        <section class="tables pt-0 pb-0">
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-close mb-2">
                    <a id="closeCard2" class="btn-link cursor-pointer"   (click)="nuevo()"><i class="fa fa-plus-circle"></i> Nuevo</a>
                  </div>
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Sucursales</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive pt-3">
                      <table class="table table-striped table-bordered table-hover table-sm">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Direccion</th>
                          <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr class="cursor-pointer" *ngFor="let o of sucursales;let i=index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{o.nombre}}</td>
                          <td>{{o.direccion}}</td>
                          <td style="width: 140px">
                            <ui-switch size="small"[(ngModel)]="o.estado" name="estado" (click)="confirmarcambiodeestado(o)">estado</ui-switch>
                            <a class="btn-link curso-pointer" (click)="traerParaEdicion(o.id)" title="editar"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Ok</button>
        </div>
      </div>
      <div *ngIf="vistaFormulario && !cargando">
        <form class="form-horizontal" #formulario="ngForm" (ngSubmit)="guardarSucursales()">
          <div class="pt-3">
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Estado <span class="text-primary">*</span> </label>
              <div class="col-sm-9" >
                <ui-switch *ngIf="sucursal.id" [(ngModel)]="sucursal.estado" name="estado">estado</ui-switch>
                <ui-switch *ngIf="!sucursal.id"  [checked]="true"  name="estado1">estado</ui-switch>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Nombre</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nombre" required="" placeholder="Ingrese nombre completo" maxlength="100" [(ngModel)]="sucursal.nombre">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Direccion</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="apellido" required="" maxlength="100" [(ngModel)]="sucursal.direccion" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Ubigeo</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" disabled [(ngModel)]="sucursal.ubigeo.nombre" name="ubigeo">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary"  (click)="abrirModalUbigeo()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Empresa</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" disabled [(ngModel)]="sucursal.idempresa.razonsocial" name="idempresa">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary"  (click)="traerEmpresa()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" *ngIf="!sucursal.id" [disabled]="!formulario.form.valid" >Guardar</button>
              <button type="submit" class="btn btn-primary" *ngIf="sucursal.id" [disabled]="!formulario.form.valid">Actualizar</button>
              <button type="button" class="btn btn-outline-dark" (click)="vistaFormulario = false">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


