<div class="card-header d-flex align-items-center">
  <h3 class="h4" id="titulo">Mantenimiento de Materiales</h3>
</div>

<div class="card-close">
  <div class="dropdown">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>
<div class="card-body pb-0">
  <div *ngIf="!vistaFormulario&&!cargando "  class="form-horizontal">
    <section class="tables pt-0 pb-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-close mb-2">
                <a id="closeCard2" (click)="abriNuevoModalNuevo()" class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Nuevo</a>
              </div>
              <div class="card-header d-flex align-items-center">
                <h3 class="h4">Materiales</h3>
              </div>

              <div class="card-body">
                <div class="table-responsive pt-3">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Busque por Detalle" [(ngModel)]="detalle" maxlength="150" id="detalle" name="detalle" required>
                    <button class="input-group-addon" (click)="busqueda()" type="button"><i class="fa fa-search cursor-pointer"></i></button>
                  </div>
                  <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Codigo</th>
                      <th>Detalle</th>
                      <th>Unidad</th>
                      <th>Costo</th>
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="cursor-pointer" *ngFor="let li of lista;let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{li.id}}</td>
                      <td>{{li.detalle}}</td>
                      <td>{{li.unidad}}</td>
                      <td>{{li.costo}}</td>
                      <td style="width: 200px">
                        {{li.estado?'HABILITADO':'DESHABILITADO'}}
                      </td>
                      <td style="width: 140px">
                        <ui-switch size="small" [(ngModel)]="li.estado" name="estado-{{i}}" (click)="confirmarCambioDeEstado(li)">estado</ui-switch>
                        <i class="fa fa-edit text-primary" style="font-size: 23px;" (click)="traerParaEdicion(li.id)" title="Modificar"></i>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row mb-3" *ngIf="lista && lista.length>0">
                  <div class="col-md-6 table-responsive">
                    <ngb-pagination style="margin-bottom: 0px;" class="ngb-pagination-sigro" [collectionSize]="paginacion.totalRegistros" [(page)]="page" [maxSize]="1" [boundaryLinks]="true" (pageChange)="listarModalMateriales()"></ngb-pagination>
                  </div>
                  <div class="col-md-6 text-right pr-3">
                    <p class="card-text text-secondary"><small>Mostrando {{paginacion.paginaActual}} de {{paginacion.totalPaginas}} páginas.</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Nuevo Formulario Cargar-->
  <div *ngIf="vistaFormulario && !cargando">
    <form   class="form-horizontal" #formulario="ngForm" (ngSubmit)="guardarDatosNuevoModal()">
      <div class="card-header d-flex align-items-center" *ngIf="!verNuevo">
        <h5 class="h4" align="left">Nuevo Material </h5>
      </div>
      <div class="card-header d-flex align-items-center" *ngIf="verNuevo">
        <h5 class="h4" align="left">Editando Material</h5>
      </div>
      <div class="pt-3">
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Estado <span class="text-primary">*</span> </label>
            <div class="col-sm-2" >
              <ui-switch *ngIf="materiales.id" [(ngModel)]="materiales.estado" name="estado">estado</ui-switch>
              <ui-switch *ngIf="!materiales.id"  [checked]="true"  name="estado1">estado</ui-switch>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Detalle </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="detallem" [(ngModel)]="materiales.detalle" maxlength="30">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Unidad </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="unidad" [(ngModel)]="materiales.unidad" maxlength="30">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label">Costo</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" name="costo" [(ngModel)]="materiales.costo" maxlength="10">
            </div>
          </div>
      </div>
      <div class="line"></div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="abrirModalListado()">Cancelar</button>
      </div>
    </form>
  </div>