<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4" *ngIf="!vistaFormulario">Listado de Ubigeos</h3>
      <h3 class="h4" *ngIf="vistaFormulario && !verNuevo">Nuevo Ubigeo</h3>
      <h3 class="h4" *ngIf="vistaFormulario && verNuevo">Editando Ubigeo</h3>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
    <div class="card-body pb-0" *ngIf="!cargando">
      <div *ngIf="vistaFormulario" >
        <form class="form-horizontal" #formulario="ngForm" (ngSubmit)="guardarubigeo()">
          <div class="card p-3 mb-0">
            <div class="form-group row">
              <div class="col-sm-6" >
                  <label class="form-control-label">Estado <span class="text-primary">*</span> </label>
                  <div>
                    <ui-switch *ngIf="ubigeo.id" [(ngModel)]="ubigeo.estado" name="estado">estado</ui-switch>
                    <ui-switch *ngIf="!ubigeo.id"  [checked]="true"  name="estado1">estado</ui-switch>
                  </div>
                </div>
              <div class="col-sm-6" >
                <label class="form-control-label">Codigo <span class="text-primary">*</span> </label>
                <input type="text" class="form-control form-control-sm" name="codigo" maxlength="10" [(ngModel)]="ubigeo.codigo">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label class="form-control-label">Tipo de Ubigeo <span class="text-primary">*</span></label>
                <select class="form-control form-control-sm" required="" name="tipoubigeo" [(ngModel)]="ubigeo.idtipoubigeo" >
                  <option  [ngValue]="tip" *ngFor="let tip of tipos" >{{tip.nombre}}</option>
                </select>
              </div>
              <div class="col-sm-6">
                <label class="form-control-label">Nombre <span class="text-primary">*</span></label>
                <input type="text" class="form-control form-control-sm" required="" name="nombre" [(ngModel)]="ubigeo.nombre" maxlength="100">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm" *ngIf="ubigeo.id" [disabled]="!formulario.form.valid">Actualizar</button>
            <button type="submit" class="btn btn-primary btn-sm" *ngIf="!ubigeo.id" [disabled]="!formulario.form.valid">Guardar</button>
            <button type="button" class="btn btn-outline-dark btn-sm" (click)="vistaFormulario= false">Cancelar</button>
          </div>
        </form>
      </div><!--formularioFrank-->
      <div class="form-horizontal" *ngIf="!vistaFormulario" style="padding: 0px">
        <section class="tables pt-0 pb-0">
          <div class="container-fluid" style="padding: 0px">
            <div class="row">
              <div class="col-lg-12">
                <div class="card mb-0">
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Ubigeos</h3>
                  </div>
                  <div class="card-close mb-2">
                    <a  class="btn-link cursor-pointer" (click)="nuevo()"><i class="fa fa-plus-circle"></i> Nuevo</a>
                  </div>
                  <div class="card-body pb-2" >
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Busque Codigo Ubigeo" [(ngModel)]="codigo" required>
                      <input type="text" class="form-control" placeholder="Busque Nombre Ubigeo" [(ngModel)]="nombre" required>
                      <button class="input-group-addon" (click)="busqueda()" type="button"><i class="fa fa-search cursor-pointer"></i></button>
                    </div>
                    <div class="table-responsive pt-3">
                      <table class="table table-striped table-bordered table-hover table-sm" >
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Codigo</th>
                          <th>Nombre</th>
                          <th>TipoUbigeo</th>
                          <th>Estado</th>
                          <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cursor-pointer" *ngFor="let o of ubigeos;let i=index" >
                          <th scope="row">{{i+1}}</th>
                          <td (click)="elegirUbigeo(o)">{{o.codigo}}</td>
                          <td (click)="elegirUbigeo(o)">{{o.nombre}}</td>
                          <td (click)="elegirUbigeo(o)">{{o.idtipoubigeo.nombre}}</td>
                          <td (click)="elegirUbigeo(o)">{{o.estado?'HABILITADO':'DESHABILITADO'}}</td>
                          <td style="width: 120px">
                            <ui-switch size="small"[(ngModel)]="o.estado" name="estado" (click)="confirmarcambiodeestado(o)">estado</ui-switch>
                            <a class="btn-link cursor-pointer" (click)="traerParaEdicion(o.id)" title="editar"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6 table-responsive">
                        <ngb-pagination style="margin-bottom: 0px;" class="ngb-pagination-sigro" [collectionSize]="paginacion.totalRegistros" [(page)]="page" [maxSize]="1" [boundaryLinks]="true" (pageChange)="listarUbigeo()"></ngb-pagination>
                      </div>
                      <div class="col-md-6 text-right pr-3">
                        <p class="card-text text-secondary"><small>Mostrando {{paginacion.paginaActual}} de {{paginacion.totalPaginas}} páginas.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary btn-sm" (click)="limpiar()">Limpiar</button>
                  <button type="button" class="btn btn-outline-dark btn-sm" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
