<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Datos de la Empresa</h2>
  </div>
</header>
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow cursor-pointer">
      <div class="col-xl-3 col-sm-6" (click)="abrirDatos()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-violet"><i class="fa fa-home"></i></div>
          <div class="title"><span>La Empresa</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6" (click)="abrirIngenieros()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-green"><i class="fa fa-user-plus"></i></div>
          <div class="title"><span>Las personas</span>
            <div class="progress">
              <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center" (click)="abrirSucursal()">
          <div class="icon bg-orange"><i class="fa fa-address-card"></i></div>
          <div class="title"><span>Las Sucursales</span>
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="item d-flex align-items-center" (click)="abrirApoderado()">
          <div class="icon bg-orange"><i class="fa fa-file-archive-o"></i></div>
          <div class="title"><span>Los Apoderados-Formatos</span>
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tables">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-close mb-2">
            <a id="closeCard1" (click)="abrirPrograma()" class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Nuevo</a>
          </div>
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Programas</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Importe</th>
                  <th>Codigo</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cursor-pointer" *ngFor="let o of lista;let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{o.nombre}}</td>
                  <td>{{o.importe}}</td>
                  <td>{{o.codigoet}}</td>
                  <td>{{o.estado}}</td>
                  <td scope="row "  style="width: 140px">
                    <ui-switch size="small"  name="estado" (click)="confirmarcambiodeestado(o)" >estado</ui-switch>
                    <a class="btn-link curso-pointer" (click)="traerParaEdicion(o.id)" title="editar"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
