<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Datos principales del programa</h3>
    </div>

    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>

    <div *ngIf="!cargando" class="card-body pb-0">
      <form *ngIf="!cargando " class="form-horizontal" #formulario="ngForm" (ngSubmit)="guardarProgramas()">
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Codigo</label>
          <div class="col-sm-9">
            <input maxlength="15" type="text" class="form-control" name="codigo" required [maxlength]="10" [(ngModel)]="programa.codigoet" ><small class="help-block-none">Este atributo es fundamental, se recomienda no cambiarlo.</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Nombre</label>
          <div class="col-sm-9">
            <input  maxlength="50" type="text" class="form-control" name="nombre" required [maxlength]="20" [(ngModel)]="programa.nombre">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Max. Valor terreno</label>
          <div class="col-sm-9">
            <input maxlength="19" type="number" name="maximovalor" required [maxlength]="10" [(ngModel)]="programa.maximovalor" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Importe Bono Familiar</label>
          <div class="col-sm-9">
            <input   maxlength="19" type="number" name="importe" required [(ngModel)]="programa.importe" class="form-control">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Correlativo contrato</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-md-6">
                <input maxlength="20" type="text" required [(ngModel)]="programa.correlativocontrato1" class="form-control" name="manzana">
              </div>
              <div class="col-md-6">
                <input maxlength="20" type="text" required [(ngModel)]="programa.correlativocontrato2" class="form-control" name="lote">
              </div>
            </div>
          </div>
        </div>
        <section class="tables pt-0 pb-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-close mb-2">
                    <a id="closeCard2" (click)="abrirIngenieros()"  class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Agregar a programa</a>
                  </div>
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Ingenieros</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                            <th style="220px!important;">Roles</th>
                            <th>Codigo</th>
                            <th>Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="cursor-pointer"   *ngFor="let item of listaRP; let i = index;"  >
                            <th scope="row">{{i+1}}</th>
                            <td>{{ item.idpersona.nombre}} {{item.idpersona.apellido}}</td>
                            <td>{{item.idpersona.dni}}</td>
                            <td style="220px!important;">
                              <select class="form-control form-control-sm"  required="" name="tiporol-{{i}}"  [(ngModel)]="item.idrol" >
                                 <option [ngValue]="prol.idrol" *ngFor="let prol of item.idpersona.personarolList" >{{prol.idrol.nombre}}</option>
                              </select>
                            </td>
                            <td >
                              <input type="number" [(ngModel)]="item.codigocip" maxlength="10" required name="cod-{{i}}" >
                            </td>
                            <td >
                              <a *ngIf="!programa.id" (click)="quitarresposable(item)" ><i class="fa fa-close text-danger" > &nbsp;&nbsp;</i></a>
                              <a *ngIf="programa.id" (click)="confirmareliminado(item)" ><i class="fa fa-close text-danger" > &nbsp;&nbsp;</i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="tables pt-0 pb-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-close mb-2">
                    <a id="closeCard1" (click)="abrirEspecificaciones()" class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Nuevo</a>
                  </div>
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Especificaciones Técnicas</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Estructura</th>
                          <th>Etapa</th>
                          <th>Especificaciones</th>
                          <th>*</th>
                          <th>Valor M2</th>
                          <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="cursor-pointer" *ngFor="let item1 of listaET; let i = index;" >
                            <th scope="row">{{i+1}}</th>
                            <td>{{item1.idespecificacion.idestructura.nombre}}</td>
                            <td>{{item1.idespecificacion.etapa}}</td>
                            <td>{{item1.idespecificacion.especificaciones}}</td>
                            <td>{{item1.idespecificacion.categoria}}</td>
                            <td>{{item1.idespecificacion.valorm2}}</td>
                            <td style="padding-top: 0px; padding-bottom: 0px;">
                              <ui-switch size="small" *ngIf="programa.id" [(ngModel)]="item1.estado" name="es5-{{i}}" >estado</ui-switch>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" *ngIf="!programa.id" [disabled]="!formulario.form.valid">Aceptar</button>
          <button type="submit" class="btn btn-primary" *ngIf="programa.id" [disabled]="!formulario.form.valid">Actualizar</button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
