<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Datos principales de la Empresa</h3>
    </div>
    <div class="card-body pb-0" *ngIf="!cargando">
      <form #empresan="ngForm" (ngSubmit)="actualizarEmpresa()">
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Razon social</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="razonsocial" [(ngModel)]="empresa.razonsocial"  maxlength="250">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Ruc</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="ruc" [(ngModel)]="empresa.ruc" disabled><small class="help-block-none">Este atributo es fundamental, se recomienda no cambiarlo.</small>
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Partida electrónica</label>
          <div class="col-sm-9">
            <input type="text" name="numeropartida" [(ngModel)]="empresa.numeropartida" class="form-control" maxlength="20">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Oficina registral</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="oficinaregistral" [(ngModel)]="empresa.oficinaregistral" maxlength="50">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Urbanizacion/A.H</label>
          <div class="col-sm-9">
            <input type="text" name="urbanizacion" [(ngModel)]="empresa.urbanizacion" class="form-control" maxlength="100">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Av/Calle/Jiron</label>
          <div class="col-sm-9">
            <input type="text" name="avcajiron" [(ngModel)]="empresa.avcajiron" class="form-control">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Manzana/Lote</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-md-6">
                <input type="text" [(ngModel)]="empresa.manzana" class="form-control" name="manzana" maxlength="10">
              </div>
              <div class="col-md-6">
                <input type="text" [(ngModel)]="empresa.lote" class="form-control" name="lote" maxlength="10">
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" name="email" [(ngModel)]="empresa.email" class="form-control" maxlength="100">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Ubigeo</label>
          <div class="col-sm-9">
            <div class="form-group">
              <div class="input-group">
                <input disabled type="text" class="form-control" [(ngModel)]="empresa.idubigeo.nombre" name="idubigeo">
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary" (click)="ubigeo()"  ><i class="fa fa-search"  ></i></button >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Gerente</label>
          <div class="col-sm-9">
            <div class="form-group">
              <div class="input-group">
                  <label class="form-control">{{empresa.idgerente.nombre}} {{empresa.idgerente.apellido}} {{"-"}} {{empresa.idgerente.dni}}</label>
                <div class="input-group-append">
                      <button type="button" class="btn btn-primary" (click)="abrirpersona()"><i class="fa fa-search" ></i></button >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div *ngIf="!cargando">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!empresan.form.valid || cargando">Aceptar</button>
            <div *ngIf="cargando">
              <app-cargando></app-cargando>
            </div>
          </div>
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="activeModal.dismiss('Cross click')" >Cancelar</button>
        </div>
      </form>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
  </div>
</div>
